{% extends 'base.html' %}
     {% block content%}
     <div class='row'>
     <div class='col-sm-4'>
     <h5 class='text-center alert alert-info'>Add Student</h5>
     <form action='' method='POST'>
     {% csrf_token %}
     {{StudentForm.as_p}}
     <input type='submit' class='btn btn-success' value='Submit'>
     </form>
     </div>
     <div class='col-sm-8'>
      <h5 class='text-center alert alert-success'>View Student</h5>

{% if StudentData %}
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Enroll</th>
      <th scope="col">Email</th>
      <th scope="col">Dept</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
{% for student in StudentData%}
    <tr>
      <td>{{student.name}}</td>
      <td>{{student.enrollment}}</td>
      <td>{{student.email}}</td>
      <td>{{student.department}}</td>
      <td>
        <!--Access Data With Link-->
        <a href="{% url 'edit_data' student.id  %}" class='btn btn-warning btn-sm'>Edit</a>

        <!--Access Data With Form-->
        <form action="{% url 'delete_data' student.id %}" method="POST" class='d-inline'>
          {% csrf_token %}
        <input type="submit" value='Delete' class='btn btn-danger btn-sm'>
        </form>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>








{% else %}
 <h5 class='text-center alert alert-success'>NO RECORD FOUND</h5>
{% endif %}







     </div>
     </div>
     {% endblock content%}
 