{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Tech Discussion</title>
    <meta charset="UTF-8">
   <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/all.min.css' %}"/>
  <!-- Theme style -->
  <link rel="stylesheet" href="{%static 'css/adminlte.min.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
  
</head>

<body>
{% load static %}
    <div class="wrapper">
    <div class="multi_color_border"></div>
    <div class="top_nav">
        <div class="left">
          <div class="logo"><p><span>Tech</span>Discussion</p></div>
          
      </div> 
      <div class="right">
        <ul>
          <li><a href="/signin">LogIn</a></li>
          <li><a href="/signup">Create a New Account</a></li>
        </ul>
      </div>
    </div>
   
  </div>
</div>
</div>
    <section class="hero-banner align-center ">
        <h2 class="logo"><b align="center"><i style="color:black"><span style="font-size:70px">T</i><span style="color:green"><b style="font-size:50px">ech Discussion</b></span></span></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        
        
        <p style="font-size:20px"> <span style="color:black">Welcome to the webpage of Questions and Answers Discussion Forum<br>A ultimate Search for Everyone</p>
        <br>
        <button class="btn-learn-more"><a href="/signin">Login</a></button>
        <button class="btn-learn-more"><a href="/signup">Register</a></button>
        
    </section>
   
</body>

</html>