{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tech Discussion</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
	<link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/all.min.css'%}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{%static 'css/adminlte.min.css'%}">
  </head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Verifaction on Processs</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning">500</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-info"></i> Oops! Something went wrong.</h3>

          <p>
            Admin not <b>Verified</b> your Acccount  or Your Account <b>blocked</b> by Admin.
            Meanwhile, you may please Contact <a href="#">cdc@gmit.com</a> 
          </p>
        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->

</body>
</html>