 <div class="multi_color_border"></div>
    <div class="top_nav">
        <div class="left">
          <div class="logo"><p><span>Tech</span>Discussion</p></div>
          
      </div> 
      <div class="right">
        <ul>
          
         
          <li><a href="/adquestion">Add Question</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom_nav">
      <ul>
        <li><a href="/student">Profile</a></li>
        <li><a href="/category">Catagories</a></li>
        <li><a href="/allquestion">Give Answers</a></li>
        
       
        <li><a href="/signout">Log Out</a></li>
      </ul>
  </div>
</div>
</div>