{% extends 'core\siteBase.html' %}
{% block title %}-Teacher Profile {% endblock title %}


{% block content %}

{% load static %}

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-success card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                      src="{%static 'img/sara.jpg'%}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">Nina Mcintire</h3>

                <p class="text-muted text-center">Electronics and Communication Engineer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Batch:</b> <a class="float-right">2019-23</a>
                  </li>
                  <li class="list-group-item">
                    <b>University Roll No:</b> <a class="float-right">28100319014</a>
                  </li>
                  <li class="list-group-item">
                    <b>Department:</b> <a class="float-right">ECE</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

               <input typ="text" name="" placeholder="University Name">

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                 <input typ="text" name="" placeholder="Your Location">

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                 <input typ="text" name="" placeholder="Your Skills">
                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Extra Activities</strong>

                <input typ="text" name="" placeholder="Your extra activities">
                <br>
                
              </div>
              <!-- /.card-body -->
              <button type="submit" class="btn btn-success">Save</button>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="/profile1" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="/profile2" data-toggle="tab">Add Question</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{%static 'img/sara.jpg'%}" alt="user image">
                        <span class="username">
                          <a href="#">Nina Mcintire</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">You Shared publicly - 7:30 PM today</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>

                     <p>
            
              <span class="float-right">
                <a href="answer.html" class="link-black text-sm">
                  <i class="far fa-comments mr-1"></i> Answer(5)
                </a>
              </span>
            </p>
                     <form class="form-horizontal">
              <div class="input-group input-group-sm mb-0">
                <input class="form-control form-control-sm" placeholder="Response">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success">Post</button>
                </div>
              </div>
            </form>
                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{%static 'img/sara.jpg'%}" alt="User Image">
                        <span class="username">
                          <a href="#">Nina Micintre</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Sarah Ross answered your a Question - 3 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>
<section class="content">
        <div class="container-fluid">
  
          <!-- Timelime example  -->
          <div class="row">
            <div class="col-md-12">
              <!-- The time line -->
              <div class="timeline">
                      <div>
                  <i class="fas fa-comments bg-yellow"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Sarah Ross</a> <br>answered your Question</h3>
                    <div class="timeline-body">
                      Take me to your leader!
                      Switzerland is small and neutral!
                      We are more like Germany, ambitious and misunderstood!
                    </div>
                       <form class="form-horizontal">
              <div class="input-group input-group-sm mb-0">
                <input class="form-control form-control-sm" placeholder="Reply">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success">Reply</button>
                </div>
              </div>
            </form>
                    </div>
                      </div>
              </div>
            </div>
                    <!-- /.post -->
<br>
                    <!-- Post -->
                    <div class="post">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="{%static 'img/jon.jpg'%}" alt="user image">
                          <span class="username">
                            <a href="#">Jay White</a>
                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                          </span>
                          <span class="description">You Shared publicly - 7:30 PM today</span>
                        </div>
                        <!-- /.user-block -->
                        <p>
                          Lorem ipsum represents a long-held tradition for designers,
                          typographers and the like. Some people hate it and argue for
                          its demise, but others ignore the hate as they create awesome
                          tools to help create filler text for everyone from bacon lovers
                          to Charlie Sheen fans.
                        </p>
  
                       <p>
                
                <span class="float-right">
                  <a href="answer.html" class="link-black text-sm">
                    <i class="far fa-comments mr-1"></i> Answer(5)
                  </a>
                </span>
              </p>
                  
                      </div>
                      <!-- /.post -->
  <section class="content">
        <div class="container-fluid">
  
          <!-- Timelime example  -->
          <div class="row">
            <div class="col-md-12">
              <!-- The time line -->
              <div class="timeline">
                      <div>
                  <i class="fas fa-comments bg-yellow"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Nina Micintre</a> <br>You answered on this Question</h3>
                    <div class="timeline-body">
                      Take me to your leader!
                      Switzerland is small and neutral!
                      We are more like Germany, ambitious and misunderstood!
                    </div>
                    <form class="form-horizontal">
                <div class="input-group input-group-sm mb-0">
                  <input class="form-control form-control-sm" placeholder="Response">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-success">Respond</button>
                  </div>
                </div>
              </form>
                    </div>
                    <!-- /.post -->
                  </div>
                  
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
 {% endblock content %}