{% extends 'core\siteBase.html' %}
{% block title %}-Student Profile {% endblock title %}


{% block content %}

{% load static %}

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-success card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{%static 'img/sara.jpg'%}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">Nina Mcintire</h3>
   <p class="text-muted text-center">Electronics and Communication Engineer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Batch:</b> <a class="float-right">2019-23</a>
                  </li>
                  <li class="list-group-item">
                    <b>University Roll No:</b> <a class="float-right">28100319014</a>
                  </li>
                  <li class="list-group-item">
                    <b>Department:</b> <a class="float-right">ECE</a>
                  </li>
                </ul>

                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

               <input typ="text" name="" placeholder="University Name">

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                 <input typ="text" name="" placeholder="Your Location">

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                 <input typ="text" name="" placeholder="Your Skills">
                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Extra Activities</strong>

                <input typ="text" name="" placeholder="Your extra activities">
                <br>
                
              </div>
              <!-- /.card-body -->
              <button type="submit" class="btn btn-success">Save</button>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link" href="/profile1" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link active" href="/profile2" data-toggle="tab">Add Question</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputCatagory" class="col-sm-2 col-form-label">Catagories</label>
                        <div class="col-sm-10">
                        
                           <input list="catagories" placeholder="Catagories" class="form-control"  id="uname" name="uname" max="2" min"1"required>
<datalist id="catagories">
<option value="Interview Questions">
<option value="Gate Questions">
<option value="COMPUTER SCIENCE ENGINEERING (CSE)">
<option value="ELECTRONICS AND COMMUNICATION ENGINEERING (ECE)">
<option value="ELECTRICAL ENGINEERING (EE)">
<option value="MECHANICAL ENGINEERING (ME)">
<option value="CIVIL ENGINEERING (CE)">
<option value="PHARMACY">
</datalist>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputquestion" class="col-sm-2 col-form-label">Question</label>
                        <div class="col-sm-10">
                          <textarea list="departments" placeholder="Your Question" class="form-control"  id="uname" name="uname" required></textarea>
                        </div>
                      </div>
                       <div class="form-group row">
                       <label for="file"></label>
                       <div class="col-sm-10">
                        <input type="file" id="file" accept="image/*">
                        </div>
                      </div>
                      <div class="form-group row">
                       <label for="file"></label>
                       <div class="col-sm-10">
                        <input type="file" id="file" accept="image/*">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
  {% endblock content %}